header {
    background-color:burlywood;  
}
  
button {
    background-color: grey;
}

.lista {
  color: coral; 
  background-color: grey;     
}

#titulo {
    color: violet;  
}

#primerArticulo {
    color: blue; 
}
  